# {{TITLE}}

{{RECORD_METADATA_HEADING}}

{{RECORD_DATE_LINE}}
{{RECORD_EXECUTOR_LINE}}
{{RECORD_BRANCH_LINE}}
{{RECORD_STATUS_LINE}}

{{RELEASE_RECORD_SCOPE_HEADING}}

{{SUMMARY}}

{{RELEASE_RECORD_RISKS_HEADING}}

{{RELEASE_RECORD_RISKS_PLACEHOLDER}}

{{CHANGE_RECORD_VERIFICATION_HEADING}}

{{CHANGE_RECORD_VERIFICATION_PLACEHOLDER}}

{{CHANGE_RECORD_ROLLBACK_HEADING}}

{{CHANGE_RECORD_ROLLBACK_PLACEHOLDER}}

{{CHANGE_RECORD_FOLLOW_UP_HEADING}}

{{CHANGE_RECORD_FOLLOW_UP_PLACEHOLDER}}
