{{STATUS_H1}}

{{STATUS_UPDATED_LINE}}

{{STATUS_SUMMARY_HEADING}}

{{STATUS_SUMMARY_PLACEHOLDER}}

{{STATUS_HEALTH_HEADING}}

{{STATUS_HEALTH_STATUS_LINE}}
{{STATUS_HEALTH_REASON_LINE}}

{{STATUS_CURRENT_FOCUS_HEADING}}

{{STATUS_CURRENT_FOCUS_PLACEHOLDER}}

{{STATUS_BLOCKERS_HEADING}}

{{STATUS_BLOCKERS_PLACEHOLDER}}

{{STATUS_RECENT_DECISIONS_HEADING}}

{{STATUS_RECENT_DECISIONS_PLACEHOLDER}}

{{STATUS_NEXT_REVIEW_HEADING}}

{{STATUS_NEXT_REVIEW_OWNER_LINE}}
{{STATUS_NEXT_REVIEW_DATE_LINE}}
{{STATUS_NEXT_REVIEW_TRIGGER_LINE}}
