{{STATUS_H1}}

{{STATUS_UPDATED_LINE}}

{{STATUS_SUMMARY_HEADING}}

{{STATUS_SUMMARY_PLACEHOLDER}}

{{STATUS_HEALTH_HEADING}}

{{STATUS_HEALTH_STATUS_LINE}}
{{STATUS_HEALTH_REASON_LINE}}

{{STATUS_CURRENT_FOCUS_HEADING}}

{{STATUS_CURRENT_FOCUS_PLACEHOLDER}}

{{STATUS_BLOCKERS_HEADING}}

{{STATUS_BLOCKERS_PLACEHOLDER}}

{{STATUS_RECENT_DECISIONS_HEADING}}

{{STATUS_RECENT_DECISIONS_PLACEHOLDER}}

{{STATUS_NEXT_REVIEW_HEADING}}

{{STATUS_NEXT_REVIEW_OWNER_LINE}}
{{STATUS_NEXT_REVIEW_DATE_LINE}}
{{STATUS_NEXT_REVIEW_TRIGGER_LINE}}

{{STATUS_HANDOFF_HEADING}}

{{STATUS_HANDOFF_READY_LINE}}
{{STATUS_HANDOFF_START_HERE_LINE}}
{{STATUS_HANDOFF_LATEST_RECORD_LINE}}
{{STATUS_HANDOFF_NEXT_ACTION_LINE}}
{{STATUS_HANDOFF_NEXT_OWNER_LINE}}
{{STATUS_HANDOFF_NEXT_DUE_LINE}}
{{STATUS_HANDOFF_DONE_WHEN_LINE}}
{{STATUS_HANDOFF_BLOCKERS_LINE}}
{{STATUS_HANDOFF_SOURCE_OF_TRUTH_LINE}}
{{STATUS_HANDOFF_SOURCE_FRESHNESS_LINE}}
{{STATUS_HANDOFF_VERIFICATION_COMMAND_LINE}}
{{STATUS_HANDOFF_VERIFICATION_RESULT_LINE}}
{{STATUS_HANDOFF_VERIFICATION_DATE_LINE}}
{{STATUS_HANDOFF_GIT_BRANCH_LINE}}
{{STATUS_HANDOFF_GIT_COMMIT_LINE}}
{{STATUS_HANDOFF_GIT_WORKTREE_LINE}}
