# {{TITLE}}

{{RECORD_METADATA_HEADING}}

{{RECORD_DATE_LINE}}
{{RECORD_EXECUTOR_LINE}}
{{RECORD_BRANCH_LINE}}
{{RECORD_RELATED_COMMITS_LINE}}
{{RECORD_STATUS_LINE}}

{{CHANGE_RECORD_BACKGROUND_HEADING}}

{{SUMMARY}}

{{CHANGE_RECORD_ANALYSIS_HEADING}}

{{CHANGE_RECORD_ANALYSIS_PLACEHOLDER}}

{{CHANGE_RECORD_CHOSEN_PLAN_HEADING}}

{{CHANGE_RECORD_CHOSEN_PLAN_PLACEHOLDER}}

{{CHANGE_RECORD_EXECUTION_HEADING}}

{{CHANGE_RECORD_EXECUTION_PLACEHOLDER}}

{{CHANGE_RECORD_VERIFICATION_HEADING}}

{{CHANGE_RECORD_VERIFICATION_PLACEHOLDER}}

{{CHANGE_RECORD_ROLLBACK_HEADING}}

{{CHANGE_RECORD_ROLLBACK_PLACEHOLDER}}

{{CHANGE_RECORD_DATA_SIDE_EFFECTS_HEADING}}

{{CHANGE_RECORD_DATA_SIDE_EFFECTS_PLACEHOLDER}}

{{CHANGE_RECORD_FOLLOW_UP_HEADING}}

{{CHANGE_RECORD_FOLLOW_UP_PLACEHOLDER}}

{{CHANGE_RECORD_ARCHITECTURE_BOUNDARY_HEADING}}

{{CHANGE_RECORD_ARCHITECTURE_BOUNDARY_LINE}}
